# Domain
FULL_DOMAIN=https://localhost:443
HOSTNAME=localhost
HOSTNAME_PORT=localhost:443

# Hetzner
HETZNER_API_KEY=

# Postgres
POSTGRES_DATA_SOURCE_URL=jdbc:postgresql://postgres:5432/postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=password

# Keycloak
KEYCLOAK_DB=postgres
KEYCLOAK_DB_USER=postgres
KEYCLOAK_DB_PASSWORD=root
KEYCLOAK_URL=http://keycloak:8080/auth
KEYCLOAK_REALM=boilerplate
KEYCLOAK_CLIENT_ID=spring-api
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=password
KEYCLOAK_ADMIN_CLI_REALM=admin-cli
KEYCLOAK_ADMIN_CLI=local-admin@mail.com
KEYCLOAK_ADMIN_CLI_PASSWORD=password
KEYCLOAK_USER_TEST_PASSWORD=password
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth2 Proxy
# https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview
# Don't forget to change the OAUTH2_PROXY_COOKIE_SECRET and OAUTH2_PROXY_CLIENT_SECRET in production
OAUTH2_PROXY_COOKIE_SECRET=jF7f7-MGXCuFwN6ZtmZmjqID-nJr57kTnHVftYgQfOk=
OAUTH2_PROXY_CLIENT_SECRET=ec900c4c-27d1-4257-bb77-5492fccac99f

# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_FREE=
STRIPE_PRICE_ID_BASIC=
STRIPE_PRICE_ID_PREMIUM=
STRIPE_BILLING_PORTAL_CODE=

# Grafana
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SECURITY_ADMIN_USER=admin

# Analytics
PUBLIC_POSTHOG_KEY=
PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
